*{
    margin: 0;
    padding: 0;
}

.socialmedia{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

a{
    background-color: #fafafa;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin: 2px;
    text-align: center;
    line-height: 80px;
    box-shadow: 1px 2px 1px 2px #ddcddd;

}
a i{
    transition: all .5s linear;
}
a :hover i{
    transform: scale(2);
}

.fa-facebook{
    color: #4267B2;
}
.fa-instagram{
    color: #bc2a8d ;
}
.fa-twitter{
    color: 	#1DA1F2;
}
.fa-linkedin{
    color: #0077b5;
}
.h3{
    color: red;
}